/* Body Styling */
body {
  background-color: #313244;
  font-family: "Fira Code", monospace;
  margin: 0;
  padding: 0;
}

/* Search Box Styling */
.search_box {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff; /* Set the border color to match the theme */
  padding: 10px;
  background-color: #ffffff;
}

.search_input {
  width: 300px;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  font-size: 16px;
}

.search_button {
  padding: 10px 20px;
  border-radius: 0 5px 5px 0;
  background-color: #04aa6d;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.search_button:hover {
  background-color: #45a049;
}

/* Astronaut Image Styling */
.astronaut_container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.astronaut_image {
  width: 150px;
  height: auto;
}

/* Title and Subtitle Styling */
.title {
  color: #ffffff;
  font-family: "Fira Code", monospace;
  font-size: 32pt;
  font-weight: bold;
  text-align: center;
}

.subtitle {
  color: #f9e2af;
  font-family: "Fira Code", monospace;
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
}

/* Main Container Styling */
.main_container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #313244;
}

/* Link Styling */
.not_sure_link a {
  color: white;
  text-decoration: none;
}

.not_sure_link a:hover {
  text-decoration: underline;
}
