/* General Styles */
body {
  background-color: #282a35;
  margin: 0;
  font-family: "Fira Code", monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-header {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-wrap: wrap;
}

.logo img {
  margin-left: -10px;
  width: 52px;
  height: 52px;
}

.nav-menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 6px;
  flex-grow: 1;
}

.nav-item {
  font-family: Verdana;
  font-size: small;
  padding: 15px;
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-icon {
  margin-left: 0px;
  width: 10px;
  height: 10px;
}

.nav-item:hover {
  background-color: #f0f0f0;
}

.search-container {
  display: flex;
  align-items: center;
}

.header-search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5em;
  width: 140px;
}

.nav-item.signup-item {
  background-color: #04aa6d;
  color: white;
  border-radius: 5em;
  padding: 4px 20px;
  height: 32px;
  display: flex;
  align-items: center;
  line-height: normal;
  margin-left: 8px;
  margin-top: 5px;
  z-index: 1;
}

.nav-item.login-item {
  background-color: #d9eee1;
  color: black;
  border-radius: 5em;
  padding: 4px 25px 4px 60px;
  height: 32px;
  display: flex;
  align-items: center;
  line-height: normal;
  margin-top: 5px;
  margin-left: -8vh;
}

.tech-stack {
  color: white;
  font-size: 11pt;
  display: flex;
  gap: 37px;
  justify-content: left;
  padding: 8px 20px;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}

/* Main Content */
.main-body {
  text-align: center;
  margin-top: 100px;
}

.learn-section {
  margin-bottom: 20px;
}

.title {
  color: #ffffff;
  font-size: 50pt;
  margin: 0;
}

.subtitle {
  color: #f9e2af;
  font-size: 16pt;
  margin: 20px 0 20px;
}

.search-box-container {
  margin: 35px 0;
}

.search-box {
  display: flex;
  justify-content: center;
}

.tutorial-search-input {
  padding: 12px 20px;
  border: 2px solid white;
  border-radius: 5px;
  width: 390px;
  border-radius: 5em 0em 0em 5em;
}

.search-button {
  padding: 10px;
  background-color: #04aa6d;
  color: white;
  border: none;
  border-radius: 0em 5em 5em 0em;
  margin-left: -8px;
  cursor: pointer;
}

.astronaut-container {
  margin-top: 20px;
}

.not-sure-link {
  font-weight: bold;
  font-family: Verdana;
  color: white;
  margin-top: 10px;
  font-size: 1.2em;
}

/* Media Queries */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-menu {
    flex-wrap: wrap;
    gap: 10px;
  }

  .header-search-input {
    width: 100%;
    margin-top: 10px;
  }
}
